<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">

</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/icon.png') }}" alt="logo">
        <nav>
            <a href="{{ url_for('index') }}">Início</a> |
            <a href="{{ url_for('relatorio') }}">Relatório</a>
        </nav>
    </header>
    <main>
        {%block content %}{% endblock %}
    </main>
    
</body>
</html>